<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cefe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServerEscola</display-name>
    <servlet-name>ServerEscola</servlet-name>
    <servlet-class>servidor.ServerEscola</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerEscola</servlet-name>
    <url-pattern>/ServerEscola</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerCursista</display-name>
    <servlet-name>ServerCursista</servlet-name>
    <servlet-class>servidor.ServerCursista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerCursista</servlet-name>
    <url-pattern>/ServerCursista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerEvento</display-name>
    <servlet-name>ServerEvento</servlet-name>
    <servlet-class>servidor.ServerEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerEvento</servlet-name>
    <url-pattern>/ServerEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerRel</display-name>
    <servlet-name>ServerRel</servlet-name>
    <servlet-class>servidor.ServerRel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerRel</servlet-name>
    <url-pattern>/ServerRel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerMatricula</display-name>
    <servlet-name>ServerMatricula</servlet-name>
    <servlet-class>servidor.ServerMatricula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerMatricula</servlet-name>
    <url-pattern>/ServerMatricula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serverAcessoCursista</display-name>
    <servlet-name>serverAcessoCursista</servlet-name>
    <servlet-class>servidor.serverAcessoCursista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serverAcessoCursista</servlet-name>
    <url-pattern>/serverAcessoCursista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerCursistaAtualizar</display-name>
    <servlet-name>ServerCursistaAtualizar</servlet-name>
    <servlet-class>servidor.ServerCursistaAtualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerCursistaAtualizar</servlet-name>
    <url-pattern>/ServerCursistaAtualizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerEmail</display-name>
    <servlet-name>ServerEmail</servlet-name>
    <servlet-class>servidor.ServerEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerEmail</servlet-name>
    <url-pattern>/ServerEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerRelLista</display-name>
    <servlet-name>ServerRelLista</servlet-name>
    <servlet-class>servidor.ServerRelLista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerRelLista</servlet-name>
    <url-pattern>/ServerRelLista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerEventoAtualizar</display-name>
    <servlet-name>ServerEventoAtualizar</servlet-name>
    <servlet-class>servidor.ServerEventoAtualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerEventoAtualizar</servlet-name>
    <url-pattern>/ServerEventoAtualizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerEventoDeletar</display-name>
    <servlet-name>ServerEventoDeletar</servlet-name>
    <servlet-class>servidor.ServerEventoDeletar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerEventoDeletar</servlet-name>
    <url-pattern>/ServerEventoDeletar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerRemoverCursistaDoEvento</display-name>
    <servlet-name>ServerRemoverCursistaDoEvento</servlet-name>
    <servlet-class>servidor.ServerRemoverCursistaDoEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerRemoverCursistaDoEvento</servlet-name>
    <url-pattern>/ServerRemoverCursistaDoEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerEscolaAtualizar</display-name>
    <servlet-name>ServerEscolaAtualizar</servlet-name>
    <servlet-class>servidor.ServerEscolaAtualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerEscolaAtualizar</servlet-name>
    <url-pattern>/ServerEscolaAtualizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerEscolaDeletar</display-name>
    <servlet-name>ServerEscolaDeletar</servlet-name>
    <servlet-class>servidor.ServerEscolaDeletar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerEscolaDeletar</servlet-name>
    <url-pattern>/ServerEscolaDeletar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerCertificado</display-name>
    <servlet-name>ServerCertificado</servlet-name>
    <servlet-class>servidor.ServerCertificado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerCertificado</servlet-name>
    <url-pattern>/ServerCertificado</url-pattern>
  </servlet-mapping>
</web-app>