<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cefe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServerEscola</display-name>
    <servlet-name>ServerEscola</servlet-name>
    <servlet-class>servidor.ServerEscola</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerEscola</servlet-name>
    <url-pattern>/ServerEscola</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerCursista</display-name>
    <servlet-name>ServerCursista</servlet-name>
    <servlet-class>servidor.ServerCursista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerCursista</servlet-name>
    <url-pattern>/ServerCursista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerEvento</display-name>
    <servlet-name>ServerEvento</servlet-name>
    <servlet-class>servidor.ServerEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerEvento</servlet-name>
    <url-pattern>/ServerEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerAlunoAtualizar</display-name>
    <servlet-name>ServerAlunoAtualizar</servlet-name>
    <servlet-class>servidor.ServerAlunoAtualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerAlunoAtualizar</servlet-name>
    <url-pattern>/ServerAlunoAtualizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerRel</display-name>
    <servlet-name>ServerRel</servlet-name>
    <servlet-class>servidor.ServerRel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerRel</servlet-name>
    <url-pattern>/ServerRel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerMatricula</display-name>
    <servlet-name>ServerMatricula</servlet-name>
    <servlet-class>servidor.ServerMatricula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerMatricula</servlet-name>
    <url-pattern>/ServerMatricula</url-pattern>
  </servlet-mapping>
</web-app>